.ui.borderless.topmenu.menu{
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.middle.menu{
  box-shadow: none;
  border: none;
}

.footer{
  margin-top: 20px;
  margin-bottom: 50px;
}

.item{
  color: black;
}

ui.list>a.item {
  cursor: pointer;
  color: black;
}